<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JurisPrudence</title>
    <link rel="icon" type="image/x-icon" href="/images/AMERICA.png">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/law.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/js/navbar-scroll.js"></script>
    <script src="/js/flash-fade.js"></script>
</head>

<body>
    <nav class="navbar">
        <button id="back-btn" onclick="history.back()">Go Back</button>
        <h1 class="navbar-header">Law Breakdown</h1>

        <div class="navbar-content">
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="/login">Login</a>
            <a class="navbar-link" href="/register">Register</a>
            <a class="navbar-link" href="/profile">Profile</a>
            <a class="navbar-link" href="/laws">Laws</a>
            <a class="navbar-link" href="/about">About</a>
        </div>
    </nav>

    <%- include('partials/flash')%>

    <main>
        <div id="law-info-container">
            <h1><%= law.lawData.title %></h1>
            <h2>Passed <b><%= law.lawData.date %></b> by <b>Congress <%= law.requestData.congress %></b></h2>

            <h3>Official Summary:</h3>
            <p><%= law.lawData.summary %></p>
        </div>

        <div id="vote-info-container">
            <div class="vote-info" id="house-vote-container">
                <h1>House of Representatives</h1>

                <div class="rep-vote-container">
                    <div class="rep-vote">
                        <% if (repData.houseRep!=null) { %>
                        <h2><%= repData.houseRep %>
                            <% if (voteData.houseVote.party!=null) { %>
                            (<%= voteData.houseVote.party %>):</h2>
                        <% }%>
                        <h2 class="vote-text"><%= voteData.houseVote.vote %></h2>
                        <% }%>
                    </div>
                </div>

                <div class="grid-container">
                    <h2 class="grid-label">House Vote Breakdown</h2>
                    <div class="grid">
                        <div class="cell"></div>
                        <div class="cell">
                            <p>Yes</p>
                        </div>
                        <div class="cell">
                            <p>No</p>
                        </div>
                        <div class="cell">
                            <p>P/NV</p>
                        </div>
                        <div class="cell">
                            <p>Democratic</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.democratic.yes %>;">
                            <p>
                                <%= voteBreakdown.house.democratic.yes %>
                            </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.democratic.no %>;">
                            <p>
                                <%= voteBreakdown.house.democratic.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.democratic["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Republican</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.republican.yes %>;">
                            <p>
                                <%= voteBreakdown.house.republican.yes %>
                            </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.republican.no %>;">
                            <p>
                                <%= voteBreakdown.house.republican.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.republican["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Independent</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.independent.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.independent.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.independent["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Total</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.total.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.total.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.total["p/nv"] %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vote-info" id="senate-vote-container">
                <h1>Senate</h1>

                <div class="rep-vote-container">
                    <div class="rep-vote">
                        <% if (repData.senateRep1!=null) { %>
                        <h2><%= repData.senateRep1 %>
                            <% if (voteData.senateVote1.party!=null) { %>
                            (<%= voteData.senateVote1.party %>):
                            <% }%>
                        </h2>
                        <h2 class="vote-text"> <%= voteData.senateVote1.vote %></h2>
                        <% }%>
                    </div>

                    <div class="rep-vote">
                        <% if (repData.senateRep2!=null) { %>
                        <h2><%= repData.senateRep2 %>
                            <% if (voteData.senateVote2.party!=null) { %>
                            (<%= voteData.senateVote2.party %>):
                            <% }%>
                        </h2>
                        <h2 class="vote-text"><%= voteData.senateVote2.vote %></h2>
                        <% }%>
                    </div>
                </div>

                <div class="grid-container">
                    <h2 class="grid-label">Senate Vote Breakdown</h2>
                    <div class="grid">
                        <div class="cell"></div>
                        <div class="cell">
                            <p>Yes</p>
                        </div>
                        <div class="cell">
                            <p>No</p>
                        </div>
                        <div class="cell">
                            <p>P/NV</p>
                        </div>
                        <div class="cell">
                            <p>Democratic</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.democratic.yes %>;">
                            <p>
                                <%= voteBreakdown.senate.democratic.yes %>
                            </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.democratic.no %>;">
                            <p>
                                <%= voteBreakdown.senate.democratic.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.democratic["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Republican</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.republican.yes %>;">
                            <p>
                                <%= voteBreakdown.senate.republican.yes %>
                            </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.republican.no %>;">
                            <p>
                                <%= voteBreakdown.senate.republican.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.republican["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Independent</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.independent.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.independent.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.independent["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Total</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.total.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.total.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.total["p/nv"] %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script>
        $(document).ready(function () {
            $(".vote-text").each(function () {
                const voteText = $(this).text().toLowerCase();
                if (voteText.includes("yea") || voteText.includes("yes")) {
                    $(this).addClass("vote-yea");
                } else if (voteText.includes("nay") || voteText.includes("no")) {
                    $(this).addClass("vote-nay");
                } else if (voteText.includes("unavailable")) {
                    $(this).addClass("vote-unavailable");
                }
            });
        });

        window.addEventListener('scroll', backButtonScroll);

        function backButtonScroll() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                $("#back-btn").css("fontSize", "16px");
                $("#back-btn").css("height", "30px");
                $("#back-btn").css("width", "90px");
                $("#back-btn").css("border-width", "3px");
            } else {
                $("#back-btn").css("fontSize", "26px");
                $("#back-btn").css("height", "51.2px");
                $("#back-btn").css("width", "130px");
                $("#back-btn").css("border-width", "4px");
            }
        }
    </script>
</body>

</html>