<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yucky Politicians | Law</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/law.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/flash')%>

        <div>
            <h1>
                <%= law.lawData.title %>
            </h1>
            <h2>
                <%= law.lawData.date %>
            </h2>
            <p>
                <%= law.lawData.summary %>
            </p>

            <h3>Your representatives' vote:</h3>
            <div>
                <% if (repData.houseRep!=null) { %>
                    <h2>
                        <%= repData.houseRep %>: <%= voteData.houseVote %>
                    </h2>
                    <% }%>
            </div>
            <div>
                <% if (repData.senateRep1!=null) { %>
                    <h2>
                        <%= repData.senateRep1 %>: <%= voteData.senateVote1 %>
                    </h2>
                    <% }%>
            </div>
            <div>
                <% if (repData.senateRep2!=null) { %>
                    <h2>
                        <%= repData.senateRep2 %>: <%= voteData.senateVote2 %>
                    </h2>
                    <% }%>
            </div>
            <div id="grids-container">
                <div class="child-container">
                    <h2 class="grid-label">House Vote Breakdown</h2>
                    <div class="grid">
                        <div class="cell"></div>
                        <div class="cell">
                            <p>Yes</p>
                        </div>
                        <div class="cell">
                            <p>No</p>
                        </div>
                        <div class="cell">
                            <p>P/NV</p>
                        </div>
                        <div class="cell">
                            <p>Democratic</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.democratic.yes %>;">
                                <p>
                                    <%= voteBreakdown.house.democratic.yes %>
                                </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.democratic.no %>;">
                                <p>
                                    <%= voteBreakdown.house.democratic.no %>
                                </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.democratic["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Republican</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.republican.yes %>;">
                                <p>
                                    <%= voteBreakdown.house.republican.yes %>
                                </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.house.republican.no %>;">
                                <p>
                                    <%= voteBreakdown.house.republican.no %>
                                </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.republican["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Independent</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.independent.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.independent.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.independent["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Total</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.total.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.total.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.house.total["p/nv"] %>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="child-container">
                    <h2 class="grid-label">Senate Vote Breakdown</h2>
                    <div class="grid">
                        <div class="cell"></div>
                        <div class="cell">
                            <p>Yes</p>
                        </div>
                        <div class="cell">
                            <p>No</p>
                        </div>
                        <div class="cell">
                            <p>P/NV</p>
                        </div>
                        <div class="cell">
                            <p>Democratic</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.democratic.yes %>;">
                                <p>
                                    <%= voteBreakdown.senate.democratic.yes %>
                                </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.democratic.no %>;">
                                <p>
                                    <%= voteBreakdown.senate.democratic.no %>
                                </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.democratic["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Republican</p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.republican.yes %>;">
                                <p>
                                    <%= voteBreakdown.senate.republican.yes %>
                                </p>
                        </div>
                        <div class="cell" <% /* eslint-disable css-propertyvalueexpected */ %> style="background-color:
                            <%= colorData.senate.republican.no %>;">
                                <p>
                                    <%= voteBreakdown.senate.republican.no %>
                                </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.republican["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Independent</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.independent.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.independent.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.independent["p/nv"] %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>Total</p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.total.yes %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.total.no %>
                            </p>
                        </div>
                        <div class="cell">
                            <p>
                                <%= voteBreakdown.senate.total["p/nv"] %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <p> Request Data (for debugging purposes): <br><br>
                <%- JSON.stringify(law.requestData) %>
            </p>




        </div>

</body>

</html>