<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yucky Politicians | Law</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/law.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/flash')%>

        <div>
            <h1>
                <%= law.lawData.title %>
            </h1>
            <h2>
                <%= law.lawData.date %>
            </h2>
            <p>
                <%= law.lawData.summary %>
            </p>
            <p>
                <%- JSON.stringify(law.requestData) %>
            </p>

        </div>

</body>

</html>