<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yucky Politicians | Law</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/law.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <%- include('partials/flash')%>

        <div>
            <h1>
                <%= law.lawData.title %>
            </h1>
            <h2>
                <%= law.lawData.date %>
            </h2>
            <p>
                <%= law.lawData.summary %>
            </p>

            <h3>Your representatives' vote:</h3>
            <div>
                <% if (reps.house_rep!=null) { %>
                    <h2>
                        <%= reps.house_rep %>: <%= voteData.houseRepVote %>
                    </h2>
                    <% }%>
            </div>
            <div>
                <% if (reps.senate_rep_1!=null) { %>
                    <h2>
                        <%= reps.senate_rep_1 %>: <%= voteData.senateRep1Vote %>
                    </h2>
                    <% }%>
            </div>
            <div>
                <% if (reps.senate_rep_2!=null) { %>
                    <h2>
                        <%= reps.senate_rep_2 %>: <%= voteData.senateRep2Vote %>
                    </h2>
                    <% }%>
            </div>
            <div class="grid">
                <div class="cell"></div>
                <div class="cell"><p>Yes</p></div>
              <div class="cell">  <p>No</p></div>
              <div class="cell">  <p>P/NV</p></div>
               <div class="cell"> <p>Democratic</p></div>
              <div class="cell">  <p>1</p></div>
               <div class="cell"> <p>0</p></div>
              <div class="cell">  <p>1</p></div>
               <div class="cell"> <p>Republican</p></div>
               <div class="cell"> <p>1</p></div>
               <div class="cell"> <p>0</p></div>
             <div class="cell">   <p>1</p></div>
              <div class="cell">  <p>Independent</p></div>
              <div class="cell">  <p>1</p></div>
              <div class="cell">  <p>0</p></div>
               <div class="cell"> <p>1</p></div>
               <div class="cell"> <p>Total</p></div>
               <div class="cell"> <p>1</p></div>
                <div class="cell"><p>0</p></div>
                <div class="cell"><p>1</p></div>
            </div>

            <br>

            <p> Request Data (for debugging purposes): <br><br>
                <%- JSON.stringify(law.requestData) %>
            </p>


        </div>

</body>

</html>