<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JurisPrudence</title>
    <link rel="icon" type="image/x-icon" href="/images/AMERICA.png">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/js/navbar-scroll.js"></script>
    <script src="/js/flash-fade.js"></script>
</head>

<body>
    <nav class="navbar">
        <h1 class="navbar-header">Welcome, <%= user.username%>!</h1>

        <div class="navbar-content">
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="/login">Login</a>
            <a class="navbar-link" href="/register">Register</a>
            <a class="navbar-link" id="current-page" href="/profile">Profile</a>
            <a class="navbar-link" href="/laws">Laws</a>
            <a class="navbar-link" href="/about">About</a>
        </div>
    </nav>

    <%- include("partials/flash")%>

    <main>
        <div id="settings-navbar">
            <h3>Settings</h3>
            <button id="general-navlink" data-target="general">General</button>
            <button id="contact-navlink" data-target="contact">Contact</button>
            <button id="bio-navlink" data-target="bio">Bio</button>
            <button id="representatives-navlink" data-target="representatives">Representatives</button>
            <a href="/logout" id="logout-btn">Log Out</a>
        </div>

        <div id="settings-container">
            <div id="general" class="settings-section">
                <h2>General Settings</h2>
                <div class="form-container">
                    <form action="/update-profile" method="post">
                        <input type="hidden" name="section" value="general">

                        <label for="username" class="required">Username:</label>
                        <input type="text" name="username" value="<%= user.username %>" required>

                        <label for="password" class="required">Password:</label>
                        <input type="password" name="password" value="<%= user.password %>" required>

                        <button class="submit-button" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>


            <div id="contact" class="settings-section">
                <h2>Contact Settings</h2>
                <div class="form-container">
                    <form action="/update-profile" method="post">
                        <input type="hidden" name="section" value="contact">

                        <p>How may we contact you about new legislation that may impact you? (Leave
                            blank for no contact)</p>

                        <label for="email">Email:</label>
                        <input type="email" name="email" value="<%= user.email %>">

                        <label for="phoneNumber">Phone Number:</label>
                        <input type="number" name="phoneNumber" value="<%= user.phoneNumber %>">

                        <button class="submit-button" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>


            <div id="bio" class="settings-section">
                <h2>Bio Settings</h2>
                <div class="form-container">
                    <form action="/update-profile" method="post">
                        <input type="hidden" name="section" value="bio">

                        <h4>Note: Updating your bio will require re-filtering the laws. This
                            might take some time!</h4>
                        <label for="bio" class="required">Bio:</label>
                        <textarea name="bio" rows="10" required><%= user.bio %></textarea>

                        <label>Personal Interests:</label>
                        <ul class="interest-list" id="interest-list"></ul>
                        <input type="text" id="interest-input" placeholder="Enter an interest">
                        <button type="button" id="add-interest">Add Interest</button>
                        <input name="interests" type="hidden" id="interests-submission" value="<%=user.interests %>">

                        <button class="submit-button" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>


            <div id="representatives" class="settings-section">
                <h2>Representatives Settings</h2>
                <div class="form-container">
                    <form action="/update-profile" method="post">
                        <input type="hidden" name="section" value="representatives">

                        <h4>Manually input your representatives or input your address to
                            autofill them. Your address
                            will <em>not</em> be saved.</h4>

                        <fieldset>
                            <label for="address">Street Address:</label>
                            <input type="text" name="address">

                            <label for="city">City:</label>
                            <input type="text" name="city">

                            <label for="state">State:</label>
                            <input type="text" name="state">

                            <label for="zip">Zip Code:</label>
                            <input type="number" name="zip">

                            <button type="button" id="autofill-btn">Autofill Representatives</button>
                        </fieldset>


                        <fieldset>
                            <label for="houseRep" class="required">House Representative:</label>
                            <input type="text" name="houseRep" value="<%=user.reps.houseRep %>" required>

                            <label for="senateRep1" class="required">Senate Representative 1:</label>
                            <input type="text" name="senateRep1" value="<%=user.reps.senateRep1 %>" required>

                            <label for="senateRep2" class="required">Senate Representative 2:</label>
                            <input type="text" name="senateRep2" value="<%=user.reps.senateRep2 %>" required>
                        </fieldset>

                        <button class="submit-button" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="laws-container">
            <h2>There
                <% if(user.newLaws.length == 1){ %> is
                <% } else{ %> are <% } %>
                <%= user.newLaws.length %> new
                <% if(user.newLaws.length == 1){ %> law
                <% } else{ %> laws <% } %>
                that might apply to you...
            </h2>

            <div id="law-list-container">
                <% if (user.newLaws.length > 0) { %>
                <div id="law-list">
                    <% user.newLaws.forEach(function(result, index){ %>
                    <div class="law-container" id="law-<%= index %>">
                        <a class="law congress-<%= result.requestData.congress %>"
                            href="/law/<%= result.requestData.congress %>/<%= result.requestData.billType %>/<%= result.requestData.billNumber %>?house_rep=<%= user.reps.houseRep %>&senate_rep_1=<%= user.reps.senateRep1 %>&senate_rep_2=<%= user.reps.senateRep2 %>">

                            <h3><%= result.lawData.title %></h3>

                            <h4>Flagged Categories:</h4>
                            <ul>
                                <% result.affectedCategories.forEach(function(category){ %>
                                <li>
                                    <%= category.categoryName%>
                                </li>
                                <% }); %>
                            </ul>
                        </a>
                        <button class="law-delete-btn" data-index="<%= index %>">×</button>
                    </div>
                    <% }); %>
                </div>
                <% } else { %>
                <div id="no-laws-div">
                    <p>Check back later! We can also email/text you when Congress passes a new law that affects you!
                        Configure this setting in the <i>Contact</i> section!
                    </p>
                </div>
                <% } %>
            </div>
            <h2>View all of your applicable laws <a href="/laws" style="text-decoration: underline;">HERE</a>!</h2>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            function openSection(section) {
                $(".settings-section").hide();
                $("#" + section).show();
                $("#settings-navbar").find("button").removeClass("active");
                $(`#${section}-navlink`).addClass("active");
            }

            const urlParams = new URLSearchParams(window.location.search);
            const section = urlParams.get("section");

            if (section) {
                openSection(section);
            } else {
                openSection("general");
            }

            $("#settings-navbar button").click(function () {
                let targetSection = $(this).data("target");
                if (targetSection) {
                    openSection(targetSection);
                }
            });
        });

        async function fetchRepresentatives(address) {
            try {
                const response = await fetch("/api/reps", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ address })
                });

                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }

                const reps = await response.json();
                return reps;

            } catch (error) {
                console.error("Error fetching representatives:", error);
                return null;
            }
        }

        $(document).ready(function () {
            const $addressInput = $('input[name="address"]');
            const $cityInput = $('input[name="city"]');
            const $stateInput = $('input[name="state"]');
            const $zipInput = $('input[name="zip"]');
            const $houseRepInput = $('input[name="houseRep"]');
            const $senateRep1Input = $('input[name="senateRep1"]');
            const $senateRep2Input = $('input[name="senateRep2"]');

            $("#autofill-btn").click(function () {
                const address = $addressInput.val();
                const city = $cityInput.val();
                const state = $stateInput.val();
                const zip = $zipInput.val();

                if (address && city && zip && state) {
                    const fullAddress = `${address}, ${city} ${state} ${zip.toString()}`;
                    fetchRepresentatives(fullAddress)
                        .then(function (reps) {
                            $houseRepInput.val(reps.houseRep || "");
                            $senateRep1Input.val(reps.senateRep1 || "");
                            $senateRep2Input.val(reps.senateRep2 || "");
                        })
                        .catch(function (error) {
                            console.error("Error fetching representatives:", error);
                            $houseRepInput.val("");
                            $senateRep1Input.val("");
                            $senateRep2Input.val("");
                        });
                } else {
                    $houseRepInput.val("");
                    $senateRep1Input.val("");
                    $senateRep2Input.val("");
                }
            });



            // Deleting laws
            $(".law-delete-btn").click(async function (e) {
                e.preventDefault();
                let index = $(this).data("index");
                console.log(index);

                /*
                user.newLaws.splice(index, 1);
                $(`#law-${index}`).remove();

                let newLawCount = user.newLaws.length;
                let lawText = `There ${newLawCount === 1 ? "is" : "are"} ${newLawCount} new ${newLawCount === 1 ? "law" : "laws"} that might apply to you...`;

                $("#laws-container h2").text(lawText);
                */


                try {
                    const response = await fetch(`/remove-new-law/${index}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                    });

                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }

                    const data = await response.json();
                    if (data.redirectUrl) {
                        window.location.href = data.redirectUrl;
                    } else {
                        console.log(data.message);
                    }

                } catch (error) {
                    console.error("Error fetching representatives:", error);
                    return null;
                }
            }
            );



            // Interest list 
            $('#add-interest').click(function () {
                const interestText = $('#interest-input').val().trim();
                if (interestText !== '') {
                    addInterest(interestText);
                    $('#interest-input').val('');
                }
            });

            function addInterest(interest) {
                $("#interests-submission").val($("#interests-submission").val() + interest + ", ");
                const li = $('<li></li>').text(interest);
                const deleteButton = $('<button type="button" class="delete-interest">x</button>');

                li.append(deleteButton);
                $('#interest-list').append(li);

                deleteButton.click(function () {
                    $("#interests-submission").val($("#interests-submission").val().replace(interest + ", ", ''));
                    li.remove();
                });
            }

            const interests = $("#interests-submission").val().split(',');
            console.log(interests);
            $("#interests-submission").val("");
            for (const interest of interests) {
                if (interest == " " || interest == "") continue;
                addInterest(interest);
            }

        });

    </script>
</body>

</html>